$brand-blue: #0078D7;
$brand-white: #ffffff;
$brand-black: #000000;
$brand-gray: #333333;
$bg-dark-blue:#1b3360;

$link-blue: #177ef8;
$link-dark-blue: #003982;
$light-blue: #C3E6FF;
$bg-followus: #1952A5;
$bg-footer: #00122C;